In [1]:
## creating a empty dictionary
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict=dict()
empty_dict

{}

In [22]:
student={"name":"Vartika","age":20,"grade":24}
print(student)
print(type(student))

{'name': 'Vartika', 'age': 20, 'grade': 24}
<class 'dict'>

In [ ]:
## Single key is always used
student={"name":"Vartika","age":20,"name":24}
print(student)

{'name': 24, 'age': 32}

In [ ]:
## accessing dictionary elements
student={"name":"Vartika","age":20,"grade":'A'}
print(student)

{'name': 'Vartika', 'age': 32, 'grade': 'A'}

In [9]:
print(student['grade'])
print(student['age'])
print(student['name'])

A
32
Vartika

In [10]:
student['age']=33
student['address']="India"
print(student)

{'name': 'Vartika', 'age': 33, 'grade': 'A', 'address': 'India'}

In [11]:
del student['grade']
print(student)

{'name': 'Vartika', 'age': 33, 'address': 'India'}

In [14]:
## dictionary methods
keys=student.keys()
print(keys)
values=student.values()
print(values)
items=student.items()
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Vartika', 33, 'India'])
dict_items([('name', 'Vartika'), ('age', 33), ('address', 'India')])

In [16]:
## shallow copy
student_copy=student
print(student_copy)

{'name': 'Vartika', 'age': 33, 'address': 'India'}

In [17]:
student["name"]="Vidhi"
print(student)
print(student_copy)

{'name': 'Vidhi', 'age': 33, 'address': 'India'}
{'name': 'Vidhi', 'age': 33, 'address': 'India'}

In [19]:
## iterating over dictionaries

#iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [20]:
#iterating over values
for value in student.values():
    print(values)

dict_values(['Vidhi', 33, 'India'])
dict_values(['Vidhi', 33, 'India'])
dict_values(['Vidhi', 33, 'India'])

In [23]:
## iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:Vartika
age:20
grade:24

In [24]:
## nested dictionary
students={
    "student1":{"name":"Vartika","age":20},
    "student2":{"name":"sambhava","age":21}
}
print(students)

{'student1': {'name': 'Vartika', 'age': 20}, 'student2': {'name': 'sambhava', 'age': 21}}

In [25]:
## Access nested dictionaries
print(students["student2"]["age"])
print(students["student2"]["name"])

21
sambhava

In [28]:
## iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Vartika', 'age': 20}
name:Vartika
age:20
student2:{'name': 'sambhava', 'age': 21}
name:sambhava
age:21

In [30]:
## use a dictionary to count the frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1

print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [33]:
## merge two dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}