In [1]:
##Syntax
def function_name(parameters):
    """docstring"""
    ##function body
    return expression

In [2]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [3]:
## call this function 
even_or_odd(24)

the number is even

In [4]:
even_or_odd(15)

the number is odd

In [7]:
## function with multiple parameters

def add(a,b):
   return a+b

result=add(2,4)
print(result)

6

In [18]:
## default parameters

def greet(name="Guest"):
    print(f"hello {name} Welcome to the paradise")

greet("krish")

hello krish Welcome to the paradise

In [17]:
greet("vartika")
greet("sambhava")

hello vartika Welcome to the paradise
hello sambhava Welcome to the paradise

In [21]:
## variable length arguement

#positional arguements
def print_numbers(*krish):
    for number in krish:
        print(number)

In [20]:
print_numbers(1,2,3,4,5,6,7,8,"krish")

1
2
3
4
5
6
7
8
krish

In [22]:
def print_numbers(*args):
    for number in args:
        print(number)

In [23]:
## keywords arguements
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [24]:
print_details(name="Vartika",age="20",country="India")

name:Vartika
age:20
country:India

In [27]:
## return multiple parameters

def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)