In [ ]:
for i in range(1,10,1)
      print(i)

In [2]:
for i in range(1,10,1):
      print(i)

1
2
3
4
5
6
7
8
9

In [3]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [4]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [5]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [6]:
#strings
str="vartika"
for i in str:
    print(i)

v
a
r
t
i
k
a

In [7]:
#while loop
##while loop continues to execute as long as the condition is true

count=0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [8]:
count=0
while count%2==0:
    print(count)
    count=count+1

0

In [9]:
##loop control statements
##break
##the break statement exits the loop prematurely

#break

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [10]:
##continue
##the continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [11]:
##pass
##pass statement is a null operation, it does nothing.

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [12]:
##nested loops
##a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [13]:
##calculate the sum of first 10 natural numbers using a while and for loop
##while

n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print("sum of first 10 natural numbers:",sum)

sum of first 10 natural numbers: 55

In [15]:
##for
n=10
sum=0
for i in range(11):
    sum=sum+i

print(sum)

55

In [16]:
##prime numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [24]:
num=int(input("enter the number"))
if num%i==0:
    print("this is a prime number")
else:
     print("this is not a prime number")

this is not a prime number