In [1]:
##create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set=set([1,2,3,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [3]:
my_empty_set=set([1,2,3,5,6,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [4]:
## basic set operations
#adding element
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [6]:
##remove element
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

In [7]:
## pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 7}

In [8]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [9]:
## set membership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [11]:
## mathematical operation 
set1={1,2,3,4,5}
set2={3,4,5,6,7}

#union
union_set=set1.union(set2)
print(union_set)

#intersection
intersection_set=set1.intersection(set1)
print(intersection_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5}

In [12]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}

## difference
print(set1.difference(set2))

{1, 2}

In [13]:
set1

{1, 2, 3, 4, 5}

In [14]:
set2.difference(set1)

{6, 7}

In [15]:
## symmetric difference
set1.symmetric_difference(set2)

{1, 2, 6, 7}

In [19]:
## set methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2))

## is superset
print(set1.issuperset(set2))

False
True

In [20]:
lst=[1,2,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [24]:
## counting unique words in text

text="My name is vartika agrawal"
words=text.split()

##convert list of words to set to get unique words
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'vartika', 'is', 'agrawal', 'My', 'name'}
5