In [1]:
##Tuples are ordered collection of items that are immutable.
# They are similar to lists,but their immutability makes them different.

In [4]:
##creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [5]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [1]:
numbers=tuple([1,2,3,4,5])
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [2]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [4]:
mixed_tuple=(1,"hello world",3.14,True)
print(mixed_tuple)

(1, 'hello world', 3.14, True)

In [5]:
#Accessing tuple elements

numbers

(1, 2, 3, 4, 5)

In [6]:
print(numbers[2])
print(numbers[-1])

3
5

In [7]:
numbers[0:4]

(1, 2, 3, 4)

In [8]:
#Tuple operations
concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'hello world', 3.14, True)

In [9]:
mixed_tuple *3

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [10]:
numbers *3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [12]:
##Immutable nature of tuples
## Tuples are immutable , meaning their elements cannot be changed once assigned

lst=[1,2,3,4,5]
print(lst)

lst[1]="vartika"
print(lst)

[1, 2, 3, 4, 5]
[1, 'vartika', 3, 4, 5]

In [14]:
## Tuple methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## Packing and Unpacking tuple 
#packing
packed_tuple=1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [16]:
#unpacking
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
hello
3.14

In [17]:
#unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [18]:
##Nested tuple
##Nested list
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [19]:
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[2][0:3]

[1, 'Hello', 3.14]

In [20]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))
##access the element inside a tuple

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [21]:
## Iterating a tuple
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False